body{
    color: white;
    background-color: pink;
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_objects{
    color: blue;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#object{
    color: cornflowerblue;
}

#accuracy{
    color: cornflowerblue;
}